<p style="color: green"><%= notice %></p>
<h1>Groups</h1>
<div id="groups">
  <% @groups.each do |group| %>
    <%= link_to(group) do %>
      <div class="my-3" id="<%= dom_id group %>">
        <div>
          <strong>Name:</strong>
          <%= group.name %>
        </div>
        <div>
          <strong>Icon:</strong>
          <%= group.icon %>
        </div>
        <div>
          <strong>Total TRXN for this group:</strong>
          <%= group.payments.sum(:amount) %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<%= link_to "New group", new_group_path %>
