<%= form_with(model: @group) do |form| %>
  <div class="d-flex flex-fill bg-primary justify-content-between align-items-center text-light p-2">
    <div><%= link_to "\<", :back, class:"btn text-light btn-sm" %></div>
    <div>NEW GROUP</div>
    <div>
      <%= form.submit "Save", class:"btn text-light btn-sm" %>
    </div>
  </div>
  <% if @group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>
      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="p2">
    <%= form.text_field :name, required: true, placeholder: :name, class: 'form-control border-0 border-bottom rounded-0'  %>
  </div>
  <div class="p2">
    <%= form.text_field :icon, required: true, placeholder: :icon, class: 'form-control border-0 border-bottom rounded-0' %>
  </div>
<% end %>
