<p style="color: green"><%= notice %></p>
<div><%= @group.payments.sum(:amount)%></div>
<% @group.payments.reverse.each do |payment| %>
  <div class="my-3">
    <div><%= payment.name %></div>
    <div><%= payment.amount %></div>
  <% end %>
</div>
<div>
  <%= link_to "New Payment in this group", new_payment_path(@group) %> |
  <%= link_to "Edit this group", edit_group_path(@group) %> |
  <%= link_to "Back to groups", groups_path %>
  <%= button_to "Destroy this group", @group, method: :delete %>
</div>
