<div class="d-flex flex-fill bg-primary justify-content-between align-items-center text-light p-2">
  <div><%= link_to "\<", :back, class:"btn text-light btn-sm" %></div>
  <div class="flex-grow-1 text-center">CATEGORY PAYMENTS</div>
  <div><small><%= link_to "New", new_payment_path(@group), class: 'text-decoration-none text-white' %></small></div>
</div>
<div class="d-flex flex-justify-between p-3 bg-white">
  <div class="flex-grow-1"><small class="text-muted text-decoration-none"><%= @group.name%> - Total</small></div>
  <div class="fw-bold"><%=  number_to_currency(@group.payments.sum(:amount))%></div>
</div>
<% @group.payments.reverse.each do |payment| %>
  <div class="m-3 bg-white d-flex gap-3 py-3 px-2">
    <div class="flex-grow-1"><small class="text-muted text-decoration-none"><%= payment.name %></small></div>
    <div class="fw-bold"><%= number_to_currency(payment.amount) %></div>
  </div>
<% end %>
