<%= form_with(model: @payment) do |form| %>
  <div class="d-flex flex-fill bg-primary justify-content-between align-items-center text-light p-2">
    <div>
      <%= link_to "\<", :back, class:"btn text-light btn-sm" %></div>
    <div>NEW PAYMENT</div>
    <div>
      <%= form.submit "Save", class:"btn text-light btn-sm" %>
    </div>
  </div>
  <% if @payment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>
      <ul>
        <% payment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.text_field :name, required: true, placeholder: :name, class: 'form-control border-0 border-bottom rounded-0'  %>
  </div>
  <div>
    <%= form.number_field :amount, required: true, placeholder: :amount, class: 'form-control border-0 border-bottom rounded-0'  %>
  </div>
  <% if params[:format] %>
    <%= hidden_field_tag 'group_id[]', params[:format] %>
  <% else %>
    <div class="m-1">
      <%= form.label 'group_id', class: "form-label text-muted" %>
      <%= select_tag 'group_id[]', options_from_collection_for_select(User.find(current_user.id).groups, :id, :name), class: "form-select text-muted", multiple: true, required: true %>
    </div>
  <% end%>
<% end %>
