<!DOCTYPE html>
<html>
  <head>
    <title>Tracksaction</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render partial: 'layouts/navbar' %>
    <% if !flash[:alert] && !flash[:notice] %>
      <div class="container">
        <%= render partial: 'layouts/flash', flash: flash %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
